.Header .Logo img{
  width: 60px;
  height: 60px;
  padding-left: 30px;
  
}
.HeaderText{
  padding-left: 10px;
}
.Header{
  background-color: gold;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Body{
  height: 78vh;
}
.Curves{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}
.Footer{
  background-color: goldenrod;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SelectClass select{
    background-color: gold;
    height: 30px;
    margin-top: 10px;
    border: 1px solid black;
    font-weight: 600;
}
.SelectClass span{
  margin: 0 10px;
  font-weight: bolder;
}
.SelectClass input[type="date"]{
  background-color: gold;
  font-weight: 600;
}
.SelectClass button{
  border: 1px solid black;
    width: 80px;
    height: 40px;
    background-color: gold;
    margin-left: 30px;
    font-weight: bold;
    transition-duration: 0.8s;
}
.SelectClass button:hover{
  background-color: white;
  color:black;
  border: 1px solid gold;
}